@import './variables.scss';

@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Cascadia Code';
    src: url('./../assets/CascadiaCode.woff2') format('woff2');
}

html,
body,
#app {
    font-family: 'Cascadia Code', sans-serif;
    color: $body-color;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.navbar {
    min-height: $navbar-height;

    .nav-link, .navbar-brand {
        color: $body-color !important;
    }

    .brand {
        min-height: $navbar-height;
        display: flex;
        align-items: center;
    }
}

.content {
    height: 100%;

    > .home {
        padding-top: calc($navbar-height * 2);
        padding-bottom: calc($navbar-height * 2);
        width: 100%;

        @media (min-width: map-get($grid-breakpoints, lg)) {
            height: 100%;
        }
    }
}
